<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta name=" author" content="github.com/VitoriaVVZ">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aba</title>
</head>
<body>
    <!-- eu sou um comentário -->
     <marquee bgcolor= "purple" direction="up">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, nisi!</marquee>
     <marquee bgcolor= "blue" direction="down">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, vitae.</marquee>
     <marquee bgcolor= "green" direction="left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, reprehenderit.</marquee>
     <marquee bgcolor= "pink" direction="right">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora, corrupti?</marquee>

    </body>
</html>
